#about #content
  padding 40px
  color #ccc
  background #000
  .text
    position relative
    z-index 2
  #mouses
    position absolute
    z-index 1
    top 0
    left 0
    right 0
    bottom 0

#about #list
  background #fff
  a
    color link-color