extends ../../layout

block content

  #mouses

  .text

    :markdown
      Este es el sitio personal de Marcel Miranda.
      Puedes navegar una lista de proyectos selectos dando click en Índice.

    .contact
      :markdown
        Hecho en Tijuana, México <br/>
        [mailto:m@reaktivo.com](mailto:m@reaktivo.com)