#about
  #list
    background #eaeaea
    a
      color #00e
  #content
    color #222
    background #eee
    .text
      max-width 500px
      padding 40px 0
      position relative
      z-index 2
    .index
      // color #eaeaea
      // border-color #eaeaea
      hoverlink link-color #fff
  #mouses
    position absolute
    z-index 1
    top 0
    left 0
    right 0
    bottom 0

  .contact
    font-size 60%
