#armonia
  #content
    background #EAE6D9
    a
      hoverlink #916f90 #EAE6D9

    img
      width 100%
      max-width 1280px
      margin 40px auto

  #list
    background #5a435f
    a
      color #916f90
    .armonia a
      color #EAE6D9
