extends ../../layout

block content

  :markdown
    Por 4 temporadas consecutivas he tenido el gusto de desarrollar el sitio de [Armonía de Tu Look](http://armoniadetulook.com),
    junto a [Golpeavisa](http://golpeavisa.mx) con quien siempre es un honor trabajar.

  img(src="/img/armonia/armonia_01.jpg")

  :markdown
    Más de 4100 líneas de código AS3 escritas a mano, cientos en Ruby y otros cientos en Coffeescript,
    más de 4900 *assets* entre imagenes y swf's han hecho de Armonia de Tu Look uno de los proyectos
    más desafiantes en los que me he involucrado.

  img(src="/img/armonia/armonia_02.jpg")

  :markdown

    Del lado del servidor, el sitio funciona a una combinación de Ruby on Rails + Nginx.
    Golpeavisa publicó un *post* sobre el proceso, [léelo acá](http://blogolpeavisa.com/2011/11/proceso-la-armonia-de-tu-look/)