
#cinedf
  #content
    color #999
    background #222
    a
      color #ccc
      border-color @color
      &:hover
        color #222
        background #ccc
        border-bottom none
    .browser-chrome, .iphone-chrome
      background #ccc

  #list
    background #fff
    a
      color #999
      border-width 0
    .cinedf a
      color #666