extends ../../layout

block content

  :markdown
    Por segundo año consecutivo, me encargué de desarrollar el sitio del All My Friends Music Festival,
    el festival de música independiente más grande del noroeste.

    Visita el sitio [amfmf.com](http://www.amfmf.com)

  .image-full
    img.browser-chrome(src="/amfmf13/amfmf13-web-01.jpg")
    img.browser-chrome(src="/amfmf13/amfmf13-web-02.jpg")

  .image-320
    img.iphone-chrome(src="/amfmf13/amfmf13-ios-01.jpg")
    img.iphone-chrome(src="/amfmf13/amfmf13-ios-02.jpg")
