#amfmf13
  #content
    background #aad8af
    a
      hoverlink #e86695 #fff
    .image-full
      img.browser-chrome
        background #000

  #list
    .amfmf13 a
      color #e86695
    background #f3eb44
    a
      color #55c4e1