#garitas
  #list
    background #222222
    a
      color #666
    .garitas a
      color #7cbf32

  #content
    color #eee
    background #000
    a
      hoverlink #7cbf32 #fff

  .image-full
    img.browser-chrome
      background #444

    @media screen and (min-width: 1024px)
      img.browser-chrome
        max-width 768px

