extends ../../layout

block content

  :markdown
    [Garitas Tijuana](http://garitas-tijuana.com) es mi propio *brainchild*.
    Surgió con la necesidad de hallar la hora perfecta para cruzar las líneas
    interminables entre San Diego y Tijuana.

  img(src="/garitas/garitas_01.png")

  :markdown
    El sitio parece haberle dado al clavo, ha obtenido en promedio 71,000
    *pageviews* al mes, sin ningún tipo de promoción ni publicidad.

  img(src="/garitas/garitas_02.png")

  :markdown
    También me permitió experimentar con algunas nuevas tecnologías, — diseño
    *Responsive*, MongoDB, Javascript, especificamente Coffeescript, del lado
    del servidor (NodeJS) utilizando [ExpressJS](http://expressjs.com) hospedado
    sobre [Heroku](https://heroku.com) — e integra algunos API's interesantes,
    específicamente Nexmo, un servicio de mensajería SMS.
