@import "vendor/normalize.css"
@import "vendor/boilerplate.css"
@import "mixins"
@import "iphone"

link-color = #00E

html
  width 100%
  height 100%

body
  background #eee
  font-family Chivo, sans-serif
  width 100%
  height 100%
  overflow-x hidden
  position relative

a, a:link
  color link-color
  text-decoration none
  border-bottom 3px solid link-color

#list
  font-size 28px
  position fixed
  top 0
  bottom 0
  z-index 1
  list-style-type none
  margin 0
  padding 20px 0
  transition background 0.8s ease-in-out
  -webkit-transition @transition
  -moz-transition @transition

  li
    margin-bottom 10px

  a, a:link
    padding 3px
    margin 0 20px
    display inline
    position relative
    color link-color
    text-decoration none
    border-bottom 0.12em solid
    transition all 0.8s ease-in-out
    -webkit-transition @transition
    -moz-transition @transition

  .transparent
    opacity 0

#list a:visited
  color #eee
  text-decoration line-through
  border-bottom none

.js #list a
  opacity 0

#wrapper
  position relative
  width 100%
  height 100%
  overflow hidden

#content
  position absolute
  box-sizing border-box
  top 0
  left 0
  right 0
  z-index 10
  font-size 28px
  box-shadow 0 0 20px rgba(0,0,0,0.8)
  min-height 100%
  width 768px
  min-width 100%

  .index
    padding 3px
    margin -3px
    position relative
    z-index 2

  h1, h2, h3, h4, p, img, ul
    max-width 768px

  a:hover
    color #fff
    background link-color

  img
    display block
    margin 20px 0
    width 100%

  h1, h2, h3, h4, p
    box-sizing border-box
    font-weight normal
    width 100%
    padding 20px 40px
    margin 0

  .legend
    p
      text-align center
      font-size 16px
      text-tranform uppercase

@media only screen and (max-width: 320px)

  #list
    font-size 24px
    min-width 100%

  #content
    width 100%
    font-size 14px
    a
      border-width 2px
    p
      padding 1em 1em

    iframe
      width 320px
      height 144px

@import "../../views/pages/about/about"
@import "../../views/pages/armonia/armonia"
@import "../../views/pages/garitas/garitas"
@import "../../views/pages/knotbad/knotbad"
@import "../../views/pages/luciernagas/luciernagas"
@import "../../views/pages/nok/nok"
@import "../../views/pages/lnh/lnh"
@import "../../views/pages/amfmf12/amfmf12"




