@import "vendor/normalize.css"
@import "vendor/boilerplate.css"
@import "iphone"

link-color = #00E

body
  background #eee
  font-family Chivo, sans-serif
  height 100%

a, a:link
  color link-color
  text-decoration none
  border-bottom 3px solid link-color

#list
  font-size 36px
  position fixed
  z-index 1
  list-style-type none
  margin 20px 0
  padding 0
  -webkit-transition all 0.2s ease-in-out
  transition all 0.4s ease-in-out

  a, a:link
    margin 0 20px
    display inline
    position relative
    color link-color
    margin-right 0.2em
    text-decoration none
    border-bottom 3px solid link-color

  .transparent
    opacity 0

#list a:visited
  color #eee
  text-decoration line-through
  border-bottom none

.js #list a
  opacity 0

#content
  position absolute
  box-sizing border-box
  top 0
  left 100px
  right 0
  z-index 10
  box-shadow 0 0 20px rgba(0,0,0,0.8)
  -webkit-transition left 0.2s ease-in-out
  transition left 0.4s ease-in-out
  min-height 100%

  h1, h2, h3
    font-weight normal

  img
    display block
    margin 20px 0
  p
    width 600px
    padding 0 40px
    font-size 28px
    margin 60px 0

  .keywords
    h4
      text-transform uppercase
      font-size 16px
      padding 0 40px
      margin 0
    p
      margin 0 0 40px
      font-size 24px

#about #content
  padding 40px
  color #ccc
  background #000
  .text
    position relative
    z-index 2
  #mouses
    position absolute
    z-index 1
    top 0
    left 0
    right 0
    bottom 0

#luciernagas #content
  color #DBFDEA
  background url("/img/luciernagas/luciernagas_bg.png")
  a
    color #fff
    border-color @color
  .legend
    width 640px
    p
      text-align center
      font-size 16px
      text-tranform uppercase

#nok #content
  color #DBFDEA
  background url("/img/nok/nok_bg.png")
  .legend
    width 640px
    p
      text-align center
      font-size 16px
      text-tranform uppercase

#armonia #content
  background #EAE6D9

#garitas #content
  color #eee
  background #000
  a
    color #7cbf32
    border-color @color

#knotbad #content
  padding 40px
  color #fff
  background #222
  overflow-x hidden
  .description
    float left
    margin-top 60px
    position relative
    p
      font-size 16px
      padding 0
      margin 20px 0
      width 250px
      a
        color #fff
        background link-color
        padding 5px 10px

  .iphone
    position relative
    float left
    margin-right 20px
    z-index 2