#knotbad

  #list
    background #111
    a { color: #666 }
    .knotbad a
      color #eeeeee

  #content
    color #eee
    background #222
    a.index
      hoverlink #eee #222
    .app
      padding 40px
      overflow hidden
    .description
      float left
      margin-top 60px
      position relative
      p
        font-size 16px
        padding 0
        margin 20px 0
        width 200px
        a
          color #fff
          background link-color
          padding 5px 10px

  .iphone
    position relative
    float left
    margin-right 20px
    z-index 2

