extends ../../layout

block content

  .app
    .iphone
      .screen
        .images
          img(src="/knotbad/knotbad_01.png")
          img(src="/knotbad/knotbad_02.png")
          img(src="/knotbad/knotbad_03.png")
        .reflection

    .description: :markdown
      Knotbad es una aplicación gratuita desarrollada en colaboración
      con Dadalabs. Knotbad es una guía para aprender a amarrar
      corbatas con todos los estilos de nudo.

      [Ver en la AppStore](http://itunes.apple.com/us/app/knotbad/id383456880?mt=8)

