#nok
  .pace .pace-progress
    background #fff
  #list
    background #e75242
    a
      color #92a95a
    .nok a
      color #fff
  #content
    color #DBFDEA
    background #e75242 url("/nok/nok_bg.png")
    a
      hoverlink #fff #92a95a
    .image-wrapper
      text-align center
      img
        margin 20px
