#nok
  #list
    background #e75242
    a
      color #92a95a
  #content
    color #DBFDEA
    background url("/img/nok/nok_bg.png")
    .legend
      width 640px
      p
        text-align center
        font-size 16px
        text-tranform uppercase
