extends ../../layout

block content

  :markdown
    *Nok* es un experimento visual con [Ruby/Processing](https://github.com/jashkenas/ruby-processing).

  .video-full(style="padding-bottom:56%")
    iframe(src="http://www.youtube-nocookie.com/embed/PMX6a5Fl9Ss?rel=0&amp;hd=1", frameborder="0", allowfullscreen)

  .image-simple
    img(src="/nok/nok_01.jpg")
    img(src="/nok/nok_02.jpg")