extends ../../layout

block content

  iframe(width="768", height="432", src="http://www.youtube-nocookie.com/embed/PMX6a5Fl9Ss?rel=0&amp;hd=1", frameborder="0", allowfullscreen)

  :markdown
    Nok es otro experimento visual con [Ruby/Processing](https://github.com/jashkenas/ruby-processing)
    realizado unos días después de [Luciérnagas](/luciernagas).

  img(src="/nok/nok_01.jpg")

  .legend: p — Nok —

  img(src="/nok/nok_02.jpg")