extends ../layout

block content

  #about-background

  .text
    .es: p.
      Este es el sitio personal de Marcel Miranda.</br>
      Puedes navegar una lista de proyectos selectos a la izquierda

    .en: p.
      This is the personal site of Marcel Miranda.<br/>
      You can view a list of selected projects to the left

    .de: p.
      Sie können eine Liste der ausgewählten Projekte auf der linken Seite durchsuchen
