extends ../layout

block content

  #mouses

  .text
    .es: :markdown
      Este es el sitio personal de Marcel Miranda.
      Puedes navegar una lista de proyectos selectos a la izquierda.

    .en: :markdown
      This is the personal site of Marcel Miranda.
      Please peruse the list of selected projects at your left.


    :markdown
      You are being **tracked**
      [Source](https://github.com/reaktivo/reaktivo.com)