extends ../layout

block content

  iframe(width="640", height="360", src="http://www.youtube.com/embed/PMX6a5Fl9Ss?rel=0&amp;hd=1", frameborder="0", allowfullscreen)

  :markdown
    Nok es otro experimento visual con [Ruby/Processing](https://github.com/jashkenas/ruby-processing)
    realizado unos días después de [Luciérnagas](/luciernagas).

  img.one(src="/img/nok/nok_01.jpg")

  .legend: p — Nok —

  img.two(src="/img/nok/nok_02.jpg")

  .keywords
    h4 Keywords:
    p Interactive, Processing, Ruby, Experimentation