#lnh
  #list
    background #333129
    a
      color #f2ebd2
    .lnh a
      color #fff
  #content
    color #f2ebd2
    background #454238
    a
      hoverlink #f2ebd2 #454238
    .images
      position relative
      img.mobile
        width auto
        margin 20px
        position absolute
        bottom 20px

