#lnh
  #list
    background #333129
    a
      color #f2ebd2
    .lnh a
      color #fff
  #content
    color #f2ebd2
    background #454238
    a
      hoverlink #f2ebd2 #454238

  .image-full
    @media screen and (max-width: 1023px)
      img.browser-chrome
        border-color #000