extends ../../layout

block content

  :markdown
    Late Nite Howl es el proyecto musical de Pablo Dodero, un músico originario de Tijuana, México.
    El sitio es sencillo, pero cumple su función. Totalmente responsivo, se adapta a cualquier dispositivo.

  .images
    img.desktop(src="/lnh/lnh-desktop.png")
    img.mobile(src="/lnh/lnh-mobile.png")

  :markdown
    ↬ [latenitehowl.com](http://latenitehowl.com)