extends ../../layout

block content

  :markdown
    Para el All My Friends Music Festival 2012 tuve la oportunidad de desarrollar el sitio web, más de 40 bandas,
    diseño responsivo, audio *flashless* hicieron del sitio un éxito.

  img(src="/amfmf12/amfmf12-01.png")

  img(src="/amfmf12/amfmf12-02.png")

  img(src="/amfmf12/amfmf12-03.png")

  :markdown
    Website Offline, visita el sitio archivado [aquí](http://amfmf.herokuapp.com)