#luciernagas
  #list
    background #013439
    a
      color #DBFDEA

  #content
    color #DBFDEA
    background url("/img/luciernagas/luciernagas_bg.png")
    a
      color #fff
      border-color @color
    .legend
      width 640px
      p
        text-align center
        font-size 16px
        text-tranform uppercase
