extends ../../layout

block content

  .video-full(style="padding-bottom:45%")
    iframe(src="http://player.vimeo.com/video/27073643?title=0&amp;byline=0&amp;portrait=0", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)

  :markdown
    Luciérnagas es el resultado de un ejercicio de experimentación con animación interactiva.

    El código fuente está disponible en
    [github](https://github.com/reaktivo/rp-luciernagas).


  .image-simple
    img(src="/luciernagas/luciernagas_01.jpg")
    img(src="/luciernagas/luciernagas_02.jpg")

  :markdown
    Ruby/Processing permitió crear una interface nativa para controlar *en tiempo real*
    variables de velocidad, longitud de partícula, ángulo de curva, etc.

  .image-simple
    img(src="/luciernagas/luciernagas_03.png")
    img(src="/luciernagas/luciernagas_04.png")
