#luciernagas
  .pace .pace-progress
    background #a4c047
  #list
    background #013439
    a
      color #037883
    .luciernagas a
      color #a4c047

  #content
    color #DBFDEA
    background url("/luciernagas/luciernagas_bg.png")
    a
      hoverlink #fff #003040